markdown: CommonMarkGhPages
commonmark:
  options: ["UNSAFE", "SMART", "FOOTNOTES"]
  extensions: ["strikethrough", "autolink", "table", "tagfilter"]
exclude: ["exams", "docs", "data", "static", ".github", "scripts", "Gemfile", "Gemfile.lock", "exams.json", "CONTRIBUTING.md", "SCRIPT_USAGE", "manage-exams.sh"] 
